.container .btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:100%;
    background-color: #F28AB2;
    color: #fff;
    font-size: 25px;
}
.container{
    background-color: white;
    width: 100%;
    padding: 30px;
}