body{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  background-color: #F28AB2;
}
.App{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  border-top: 1px solid red;
}
